@import "common/components/buttons";

$category-badge-style: null !default; // helps detect the category badge styles theme component

:root {
  // fallback variables
  --composer-category-text-color: var(--secondary);
  --composer-category-color: var(--tertiary);
}

@if $use-category-color-in-composer == "true" {
  #reply-control {
    .grippie {
      transition: background-color 0.25s;
      background-color: var(--composer-category-color, var(--tertiary));
      &:before {
        border-color: var(--composer-category-text-color, var(--secondary));
      }
    }

    .save-or-cancel {
      .btn-primary {
        background-color: var(--composer-category-color);
        color: var(--composer-category-text-color, var(--secondary));
        .d-icon {
          color: var(--composer-category-text-color, var(--secondary));
        }
      }
    }
  }
}

@if $use-category-color-in-header == "true" {
  .d-header {
    background-color: var(--category-color, var(--header_background));
    transition: background-color 0.25s;
    color: var(--category-text-color, var(--header_primary));

    .title {
      a,
      a:visited {
        color: var(--category-text-color, var(--header_primary));
      }
    }

    @if $category-badge-style == null {
      // checks for category badge styles theme component
      .extra-info-wrapper .badge-category__wrapper .badge-category {
        color: var(--category-text-color);
        &:before {
          box-shadow: inset 0 0 0 1px var(--category-text-color);
        }
      }
    }
  }

  .header-sidebar-toggle button,
  .d-header-icons .icon {
    .d-icon {
      color: var(--category-text-color, var(--header_primary-low-mid));
    }
    .discourse-no-touch & {
      &:hover,
      &:focus {
        color: var(--category-text-color, var(--header_primary-low));
        .d-icon {
          color: var(--category-color, var(--header_primary-medium));
        }
      }
    }
  }

  .drop-down-mode .d-header-icons .active .icon .d-icon {
    color: var(--category-color, var(--header_primary-medium));
  }

  .extra-info-wrapper {
    .topic-link {
      color: var(--category-text-color, var(--header_primary-high));
      .d-icon {
        color: currentColor;
      }
    }
    .discourse-tag {
      color: var(
        --category-text-color,
        var(--header_primary-high)
      ) !important; // override important in core
    }

    .title-wrapper .topic-statuses .d-icon {
      color: var(--category-text-color, var(--header_primary-high));
    }
  }
}

@if $use-category-color-in-timeline == "true" {
  .timeline-container .topic-timeline .timeline-scrollarea {
    border-color: var(--primary-low, var(--tertiary-low-or-tertiary-high));
  }

  .timeline-container .topic-timeline .timeline-handle {
    background: var(--category-color, var(--tertiary-low-or-tertiary-high));
  }
}

@if $use-category-color-in-buttons == "true" {
  #create-topic,
  #topic-footer-buttons .btn.btn-primary {
    @include btn(
      $text-color: var(--category-text-color, var(--primary)),
      $bg-color: var(--category-color, var(--primary-low)),
      $icon-color: var(--category-text-color, var(--primary-high)),
      $hover-text-color: var(--category-text-color, var(--secondary)),
      $hover-bg-color: var(--category-color, var(--primary-medium)),
      $hover-icon-color: var(--category-text-color, var(--secondary))
    );
  }

  // the above include reset some margins, need to add them back

  #topic-footer-buttons .btn.btn-primary {
    margin-bottom: 0.5em;
  }
}

// need to reset some styles overridden by the button mixin

.sidebar-more-section-trigger {
  justify-content: start;
  padding-left: var(--d-sidebar-row-horizontal-padding);
  .d-icon {
    color: var(--d-sidebar-link-icon-color);
  }
  .discourse-no-touch & {
    &:hover {
      background: var(--d-sidebar-highlight-background);
      color: var(--d-sidebar-link-color);
    }
  }
}
